#
# Aliases
#----------------

# Jenkins
alias start-jenkins='sudo launchctl load /Library/LaunchDaemons/org.jenkins-ci.plist'
alias stop-jenkins='sudo launchctl unload /Library/LaunchDaemons/org.jenkins-ci.plist'

# Symfony2
alias sf2='php app/console'

# directory/file stuff
# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
        colorflag="--color"
        colorflag_always="--color=always"
else # OS X `ls`
        colorflag="-G"
        colorflag_always="-G"
fi

# List all files colorized in long format
alias ls="ls ${colorflag}"

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# Mangano list style - like the previous : List all files in a long format
alias ll="ls -l"

# List all files colorized in long format, including dot files
alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l | grep "^d"'


# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Programs
alias safari="open -a safari"
alias firefox="open -a firefox"
alias opera="open -a opera"
alias chrome="open -a google\ chrome"
alias tar-x='tar -xzvf'
alias tar-c='tar -czvf'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"
