# OSX Local binaries for command line
export PATH=$HOME/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH

# Local MYSQL version for command line
export PATH=/usr/local/mysql/bin:$PATH

# Svn
export SVN_EDITOR=vim

# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

#
# COLORS
#-------------------#

# PS1 COLORS
reset="\[\e[m\]";
redtext="\[\e[0;31m\]"
greentext="\[\e[0;32m\]";
yellowtext="\[\e[0;33m\]";
whiteboldtext="\[\e[1;97m\]"

# Tell ls to be colourful
# export CLICOLOR=1

# Customize ls colors
export LSCOLORS=GxFxCxDxBxegedabagaced

# Tell grep to highlight matches
export GREP_OPTIONS='--color=auto'

# Bash prompt
export PS1="${whiteboldtext}\W\$([[ -n \$(git branch 2> /dev/null) ]] && echo \":\")\$(parse_git_branch) ${redtext}❯${reset}${yellowtext}❯${reset}${greentext}❯${reset}${reset} "
